header.header-block
	.wrapper
		.logo
			img(src="img/logo.svg", alt="logo").logo__media
		a(href="#/").button.button--margin.pull-right Floor plan
.auth-wrap
	.wrapper
		p.auth-wrap__title Authentication
		form(action="").auth-form
			fieldset.auth-form__fieldset
				i.auth-form__icon.icon-user
				input(type="text", placeholder="Username" name="name" required).auth-form__input
			//- span.auth-form__error Please enter your username
			fieldset.auth-form__fieldset
				i.auth-form__icon.icon-locked
				input(type="password", placeholder="Password" ,name="password", required).auth-form__input
			button(type="submit").auth-form__submit Let’s go