div
	include ./includes/header.jade
	.floor-plan-wrapper
		.selection-mode(ng-show="selectionMode")
			p.selection-mode__title selection mode
			.selection-mode__description 
				|Choose seat for {{currentUser.name}}. Press
				.button-wrap
					button.button-special(ng-click="selectionMode = false") Esc 
				|to close selection mode

		.floor-plan
			img(src="img/floor.svg", alt="floor-plan").floor-plan__media
			canvas(id="canvas-block" width="1000" height="520")