// Footer block
footer.footer

// Fabric js
script(src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js")
// Angular
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js")
// Angular-route
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js")

