// *** General page information ***
<!--[if IE]>
meta(http-equiv="X-UA-Compatible", content="IE=edge")
<![endif]-->

meta(charset="utf-8")
title scheme
// Mobile Specific Metas
meta(name="viewport", content="width=device-width, initial-scale=1.0")

// *** Fonts ***
link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700" rel="stylesheet")
// icon-font
link(href="fonts/icomoon/style.css", rel="stylesheet")